html {
  color: #222;
  font-size: 1em;
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

.lab-wrapper {
  display: flex;
}

.container-button-wrapper {
  display: flex;
  justify-content: center;
}
.container-button-wrapper > button {
  border: none;
  min-width: 4em;
  height: 2em;
  margin: 4px;
}

.container-button-wrapper > button.selected {
  background-color: deepskyblue;
}

.container {
  border: none;
}
.content-wrapper {
  margin: 1em 2em;
}
p {
  margin: 8px 0;
}
h1 {
  margin: 8px 0;
  line-height: 1;
}
